<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>My FFCS|Login</title>
    <!--CSS-->
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <!--JS-->
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="js/script.js"></script>
    
    <meta name='description' content='MyFFCS - Make your timetable before FFCS, share it with your friends.'>
    <meta name = 'description' content = 'Make your own timetable before FFCS starts'>
    <meta name = 'description' content = 'Choose your credits on myFFCS to make sure your classes do

not clash.'>

    <meta name="keywords" content="myffcs, ffcs, timetable, vit university, myVIT, VIT credit system, VIT timetable, make timetable ">
    <meta name=”robots” content=”index,follow”>
    
    
    <meta property="og:title" content="MyFFCS - Make your timetable before FFCS, share it with your friends." />
    <meta property="og:url" content="http://www.myffcs.in" />
    <meta property="og:image" content="http://i.imgur.com/XVMAFgj.jpg" />
  
  </head>
  <body>
    <script>
    <% if(data){%>
     Materialize.toast('<%=message%>', 4000)
    <%}%>
    </script>
    <div class="login-holder">
      <div class="row">
        <div class="col l8 m8 s8 push-l4 push-m4 push-s4 ">
          <h4>My FFCS</h4>
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="row">
                <div class="col s6 m6 l6 pull-s1">
                  <p class="login-header">Login</p>
                  <form class="login-form" autocomplete="off" method="post" action="/login">
                    <div class="row">
                      <div class="input-field">
                        <input id="login-regnum" type="text" name="username">
                        <label for="login-regnum">Registration Number</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field">
                        <input id="login-pass" type="password" name="password">
                        <label for="login-pass">Password</label>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col s6 m6 l6" style="border-left: 1px solid #ddd;">
                  <p class="register-header">Register</p>
                  <form class="register-form" autocomplete="off" method="post" action="/register">
                    <div class="row">
                      <div class="input-field">
                        <input id="reg-name" type="text" name="name">
                        <label for="reg-name">Name</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field">
                        <input id="reg-regnum" type="text" name="regno">
                        <label for="reg-regnum">Registration Number</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field">
                        <input id="reg-pass" type="password" name="password">
                        <label for="reg-pass">Password</label>
                      </div>
                    </div>
                  </form>
                  <button type="submit" class="submit-button">Login/Register</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
  <script type="text/javascript">
    $('.submit-button').click(function(){
      if($('.login-form #login-regnum').val().length>0 && $('.login-form #login-pass').val().length>0){
        if(/[0-9]{2}[A-Z]{3}[0-9]{4}/g.test($('#login-regnum').val())){
          if($('#login-pass').val().length>=6){
            $('.login-form').submit();
          }
        } else{
          $("#login-regnum").val("Enter Valid Register Number");
        }
      }
      if($('#reg-name').val().length>0 && $('#reg-regnum').length>0 && $('#reg-pass').val().length>0){
        if(/[0-9]{2}[A-Z]{3}[0-9]{4}/g.test($('#reg-regnum').val())){
          if($('#reg-name').length>0){
            if($("#reg-pass").val().length>=6){
              $('.register-form').submit();
            } else{
              //Password Length Error
            }
          } else{
            $('#reg-name').val("Enter Name!");
          }
        } else{
          $("#reg-regnum").val("Enter Valid Register Number");
        }
      }
    });
  </script>
</html>
