<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>MY FFCS | Timetable</title>
    <!--CSS-->
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="css/select2.min.css" rel="stylesheet">
    <meta name='description' content='MyFFCS - Make your timetable before FFCS, share it with your friends.'>
    <meta name = 'description' content = 'Make your own timetable before FFCS starts'>
    <meta name = 'description' content = 'Choose your credits on myFFCS to make sure your classes do not clash.'>
    <meta name=”robots” content=”index,follow”>
    <meta property="og:title" content="MyFFCS - Make your timetable before FFCS, share it with your friends." />
      <meta property="og:url" content="http://www.myffcs.in" />
      <meta property="og:image" content="http://i.imgur.com/XVMAFgj.jpg" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="images/favicon.png" />
    <link href='css/slick.css' rel='stylesheet'>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6&appId=1627396500917650";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <!--JS-->
    <script   src="js/jquery.js"></script>
    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-71735575-1', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
    <script src="js/materialize.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/select2.min.js"></script>
  </head>
  <body><!--

     <input type="text" class="user-token" name="token" style="display:none;" value="<%=user.token%>">-->
   
    <div class="row timetable-title-panel ">
      <div class="col s12 m8 l8 ">
        <a href="#"><h4 style="font-family: Montserrat">My FFCS</h4></a>
      </div>
    </div>
    <div class="row timetable-results">
      <div class="close">
        <i class="fa fa-times" aria-hidden="true" style="color: rgb(127,144,153);font-size: 50px"></i>
      </div>
      <div class="custom-card z-depth-1  col m3 l3 push-m1 l3 push-l1"  >
        <div class="custom-card-header">
          <div class="custom-card-front">
            <h5 class="course-title">Introduction To Innovative Projects</h5>
            <p class="course-faculty">Prof. Gandhimati S.N.S.</p></div>
            <div class="custom-card-edit" style="display:none">
              <img src="images/add.png" class="save-tt" style="padding-left: 15%;padding-top: 5%;padding-bottom: 5%" class="left" />
              <img src="images/delete.png" style="padding-right: 15%;padding-top: 5%;padding-bottom: 5%" class="right" />
            </div>
        </div>
        <div class="custom-card-slot row valign-wrapper">
          <div class="col s10 m10 l10"  style="border-right: 1px solid;border-color: rgb(123,123,123)"><p class="course-code">PHY1011<span class="right">F2</span></p></div>
          <div class="col s2 m2 l2 valign custom-card-action front" style="padding: 1%;text-align: center;font-size: 20px;"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></div>
        </div>
      </div>
      <div class="custom-card z-depth-1 col m3 push-m1 l3 push-l1">
        <div class="custom-card-header">
          <div class="custom-card-front">
            <h5 class="course-title">Introduction To Innovative Projects</h5>
            <p class="course-faculty">Prof. Gandhimati S.N.S.</p></div>
            <div class="custom-card-edit" style="display:none">
              <img src="images/add.png" class="save-tt" style="padding-left: 15%;padding-top: 5%;padding-bottom: 5%" class="left" />
              <img src="images/delete.png" style="padding-right: 15%;padding-top: 5%;padding-bottom: 5%" class="right" />
            </div>
        </div>
        <div class="custom-card-slot row valign-wrapper">
          <div class="col s10 m10 l10"  style="border-right: 1px solid;border-color: rgb(123,123,123)"><p class="course-code">PHY1011<span class="right">F1</span></p></div>
          <div class="col s2 m2 l2 valign custom-card-action front" style="padding: 1%;text-align: center;font-size: 20px;"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></div>
        </div>
      </div>
      <div class="custom-card z-depth-1 col m3 push-m1 l3 push-l1 "  >
        <div class="custom-card-header">
          <div class="custom-card-front">
            <h5 class="course-title">Introduction To Innovative Projects</h5>
            <p class="course-faculty">Prof. Gandhimati S.N.S.</p></div>
            <div class="custom-card-edit" style="display:none">
              <img src="images/add.png" class="save-tt" class="left" />
              <img src="images/delete.png" class="right" />
            </div>
        </div>
        <div class="custom-card-slot row valign-wrapper">
          <div class="col s10 m10 l10"  style="border-right: 1px solid;border-color: rgb(123,123,123)"><p class="course-code">PHY1011<span class="right">G1</span></p></div>
          <div class="col s2 m2 l2 valign custom-card-action front" style="padding: 1%;text-align: center;font-size: 20px;"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></div>
        </div>
      </div>
    </div>
  <!--  <div style="text-align:center;">
      <a href="/oldtimetable" class="modal-action modal-close waves-effect waves-green btn-flat oldtt">View Old TT</a>
    </div>
    -->
    <div class="row timetable">
      <table>
        <tr class="timetable-headings">
          <td class="timetable-header">Time</td>
          <td class="timetable-timing" style="padding: 1.8%">8:00-8:50</td>
          <td class="timetable-timing" style="padding: 1.8%">9:00-9:50</td>
          <td class="timetable-timing">10:00-10:50</td>
          <td class="timetable-timing" style="padding: 1.8%">11:00-11:50</td>
          <td class="timetable-timing">12:00-12:50</td>
          <td class="timetable-timing" style="padding: 1.8%">1:00-1:30</td>
          <td class="timetable-timing" style="padding: 0%;color: rgb(254,254,254);font-weight: bold" rowspan=6><p style="transform: rotate(270deg);">LUNCH</p></td>
          <td class="timetable-timing">14:00-14:50</td>
          <td class="timetable-timing">15:00-15:50</td>
          <td class="timetable-timing">16:00-16:50</td>
          <td class="timetable-timing">17:00-17:50</td>
          <td class="timetable-timing">18:00-18:50</td>
          <td class="timetable-timing">19:00-19:30</td>
        </tr>
        <tr class="monday">
          <td class="timetable-header">Monday</td>
          <td class="a1 l1 unselected">A1/L1<span class="number"></span></td>
          <td class="f1 l2 unselected">F1/L2<span class="number"></span></td>
          <td class="d1 l3 unselected">D1/L3<span class="number"></span></td>
          <td class="tb1 l4 unselected">TB1/L4<span class="number"></span></td>
          <td class="tg1 l5 unselected">TG1/L5<span class="number"></span></td>
          <td class="l6 unselected">L6<span class="number"></span></td>
          <td class="a2 l31 unselected">A2/L31<span class="number"></span></td>
          <td class="f2 l32 unselected">F2/L32<span class="number"></span></td>
          <td class="d2 l33 unselected">D2/L33<span class="number"></span></td>
          <td class="tb2 l34 unselected">TB2/L34<span class="number"></span></td>
          <td class="tg2 l35 unselected">TG2/L35<span class="number"></span></td>
          <td class="l36 unselected">L36<span class="number"></span></td>
        </tr>
        <tr class="tuesday">
          <td class="timetable-header">Tuesday</td>
          <td class="b1 l7 unselected">B1/L7<span class="number"></span></td>
          <td class="g1 l8 unselected">G1/L8<span class="number"></span></td>
          <td class="e1 l9 unselected">E1/L9<span class="number"></span></td>
          <td class="tc1 l10 unselected">TC1/L10<span class="number"></span></td>
          <td class="taa1 l11 unselected">TAA1/L11<span class="number"></span></td>
          <td class="l12 unselected">L12<span class="number"></span></td>
          <td class="b2 l37 unselected">B2/L37<span class="number"></span></td>
          <td class="g2 l38 unselected">G2/L38<span class="number"></span></td>
          <td class="e2 l39 unselected">E2/L39<span class="number"></span></td>
          <td class="tc2 l40 unselected">TC2/L40<span class="number"></span></td>
          <td class="taa2 l41 unselected">TAA2/L41<span class="number"></span></td>
          <td class="l42 unselected">L42<span class="number"></span></td>
        </tr>
        <tr class="wednesday">
          <td class="timetable-header">Wednesday</td>
          <td class="c1 l13 unselected">C1/L13<span class="number"></span></td>
          <td class="a1 l14 unselected">A1/L14<span class="number"></span></td>
          <td class="f1 unselected">F1/L15<span class="number"></span></td>
          <td class="timetable-seminar" colspan=3>Extramural Hour</td>
          <td class="c2 l43 unselected">C2/L43<span class="number"></span></td>
          <td class="a2 l44 unselected">A2/L44<span class="number"></span></td>
          <td class="f2 l45 unselected">F2/L45<span class="number"></span></td>
          <td class="td2 l46 unselected">TD2/L46<span class="number"></span></td>
          <td class="tbb2 l47 unselected">TBB2/L47<span class="number"></span></td>
          <td class="l48 unselected">L48<span class="number"></span></td>
        </tr>
        <tr class="thursday">
          <td class="timetable-header">Thursday</td>
          <td class="d1 l19 unselected">D1/L19<span class="number"></span></td>
          <td class="b1 l20 unselected">B1/L20<span class="number"></span></td>
          <td class="g1 l21 unselected">G1/L21<span class="number"></span></td>
          <td class="te1 l22 unselected">TE1/L22<span class="number"></span></td>
          <td class="tcc1 l23 unselected">TCC1/L23<span class="number"></span></td>
          <td class="l24 unselected">L24<span class="number"></span></td>
          <td class="d2 l49 unselected">D2/L49<span class="number"></span></td>
          <td class="b2 l50 unselected">B2/L50<span class="number"></span></td>
          <td class="g2 l51 unselected">G2/L51<span class="number"></span></td>
          <td class="te2 l52 unselected">TE2/L52<span class="number"></span></td>
          <td class="tcc2 l53 unselected">TCC2/L53<span class="number"></span></td>
          <td class="l54 unselected">L54<span class="number"></span></td>
        </tr>
        <tr class="friday">
          <td class="timetable-header">Friday</td>
          <td class="e1 l25 unselected">E1/L25<span class="number"></span></td>
          <td class="c1 l26 unselected">C1/L26<span class="number"></span></td>
          <td class="ta1 l27 unselected">TA1/L27<span class="number"></span></td>
          <td class="tf1 l28 unselected">TF1/L28<span class="number"></span></td>
          <td class="td1 l29 unselected">TD1/L29<span class="number"></span></td>
          <td class="l30 unselected">L30<span class="number"></span></td>
          <td class="e2 l55 unselected">E2/L55<span class="number"></span></td>
          <td class="c2 l56 unselected">C2/L56<span class="number"></span></td>
          <td class="ta2 l57 unselected">TA2/L57<span class="number"></span></td>
          <td class="tf2 l58 unselected">TF2/L58<span class="number"></span></td>
          <td class="tdd2 l59 unselected">TDD2/L59<span class="number"></span></td>
          <td class="l60 unselected">L60<span class="number"></span></td>
        </tr>
      </table>
    </div>
    <div class="row save-timetable">
      <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://myffcs.in/share?id=<%=share%>"><button class="col s12 m3 l3 push-l6 submit-button">Share to Facebook!</button></a>
    </div>
    <div class="row timetable-selected-list z-depth-1">
      <table class="timetable-selected-table">
        <tr class="timetable-selected-headings">
          <td style="padding: 2%">Course Code</td>
          <td>Course Name</td>
          <td>Slot</td>
          <td>Faculty</td>
          <td></td>
        </tr>
        <!--tr class="timetable-selected-subject">

          <td>CSE1002</td>
          <td>Problem Solving And Programming<br><span class="sub-text-inside">Lab Only</span></td>
          <td>L1 + L2 + L11  + L12 + L21 + L22</td>
          <td><p class="timetable-selected-faculty">Prof. Nagaraja Rao</p><span class="sub-text-inside">SCOPE</span></td>
          <td><i class="small material-icons">delete</i></td>
        </tr>
        <tr class="timetable-selected-subject">

          <td>CSE1002</td>
          <td>Problem Solving And Programming<br><span class="sub-text-inside">Lab Only</span></td>
          <td>L1 + L2 + L11  + L12 + L21 + L22</td>
          <td class=""><p class="timetable-selected-faculty">Prof. Nagaraja Rao</p><span class="sub-text-inside">SCOPE</span></td>
          <td><i class="small material-icons">delete</i></td>
        </tr>
        <tr class="timetable-selected-subject">

          <td>CSE1002</td>
          <td>Problem Solving And Programming<br><span class="sub-text-inside">Lab Only</span></td>
          <td>L1 + L2 + L11  + L12 + L21 + L22</td>
          <td class=""><p class="timetable-selected-faculty">Prof. Nagaraja Rao</p><span class="sub-text-inside">SCOPE</span></td>
          <td><i class="small material-icons">delete</i></td>
        </tr>
        <tr class="timetable-selected-subject">

          <td>CSE1002</td>
          <td>Problem Solving And Programming<br><span class="sub-text-inside">Lab Only</span></td>
          <td>L1 + L2 + L11  + L12 + L21 + L22</td>
          <td class=""><p class="timetable-selected-faculty">Prof. Nagaraja Rao</p><span class="sub-text-inside">SCOPE</span></td>
          <td><i class="small material-icons">delete</i></td>
        </tr>
        <tr class="timetable-selected-subject">

          <td>CSE1002</td>
          <td>Problem Solving And Programming<br><span class="sub-text-inside">Lab Only</span></td>
          <td>L1 + L2 + L11  + L12 + L21 + L22</td>
          <td class=""><p class="timetable-selected-faculty">Prof. Nagaraja Rao</p><span class="sub-text-inside">SCOPE</span></td>
          <td><i class="small material-icons">delete</i></td>
        </tr>
        <tr class="timetable-selected-subject">
          <td>6</td>
          <td>CSE1002</td>
          <td>Problem Solving And Programming<br><span class="sub-text-inside">Lab Only</span></td>
          <td>L1 + L2 + L11  + L12 + L21 + L22</td>
          <td class=""><p class="timetable-selected-faculty">Prof. Nagaraja Rao</p><span class="sub-text-inside">SCOPE</span></td>
          <td><i class="small material-icons">delete</i></td>
        </tr>
        <tr class="timetable-selected-subject">

          <td>CSE1002</td>
          <td>Problem Solving And Programming<br><span class="sub-text-inside">Lab Only</span></td>
          <td>L1 + L2 + L11  + L12 + L21 + L22</td>
          <td><p class="timetable-selected-faculty">Prof. Nagaraja Rao</p><span class="sub-text-inside">SCOPE</span></td>
          <td><i class="small material-icons">delete</i></td>
        </tr-->
      </table>
    </div>
    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">About Google Developers Group-VIT Vellore</h5>
                <p class="grey-text text-lighten-4">Google Developers Groups was established in VIT on 28th July 2014 and since then 6 successful events have been conducted. The group now has 60 Developers whose agenda is to introduce new technologies, projects to the students, develop new ideas and polish skills in every possible field.</p>
                <div class="fb-like" data-href="https://www.facebook.com/gdgvitvellore" data-width="400" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
              </div>
              <div class="col l4 offset-l2 s12">
              <h5 class="white-text">About MyFFCS</h5>
              <h6 class="grey-text text-lighten-3" >Project Lead : <span>Ashwini Purohit<a target="_blank" href="https://github.com/ashwini0529">&nbsp;<i class="fa fa-github grey-text"></i>&nbsp;</a> &nbsp; </span><span>Rishi Raj<a target="_blank"  href="https://github.com/rishiraj824">&nbsp;<i class="fa fa-github grey-text"></i>&nbsp;</a> &nbsp; </span></h6>
              <h6 class="grey-text text-lighten-3" >Frontend : <span>Vishwajeet<a target="_blank" href="https://github.com/Vishwajeetsinh98">&nbsp;<i class="fa fa-github grey-text"></i>&nbsp;</a> &nbsp; </span><span>Yash Mahajan<a target="_blank" href="https://github.com/yashmahajan10">&nbsp;<i class="fa fa-github grey-text"></i>&nbsp;</a> &nbsp; </span></h6>
              <h6 class="grey-text text-lighten-3" >Backend : <span>Balaji<a target="_blank" href="https://github.com/sch00lb0y">&nbsp;<i class="fa fa-github grey-text"></i>&nbsp;</a> &nbsp; </span></h6>
              <h6 class="grey-text text-lighten-3" >Design : <span>Rajat Mukati<a target="_blank" href="https://m.facebook.com/profile.php?id=100001552041806">&nbsp;<i class="fa fa-facebook grey-text"></i>&nbsp;</a> &nbsp; </span><span>Vignesh Shankar<a target="_blank"  href="https://facebook.com/vickyjuly09">&nbsp;<i class="fa fa-facebook grey-text"></i>&nbsp;</a> &nbsp; </span></h6>

                <ul>
                  <li><a target="_blank" class="grey-text text-lighten-3" href="http://gdgvitvellore.com"><i class="fa fa-phone"></i>&nbsp;&nbsp;Contact Us</a></li>
                  <li><a target="_blank" class="grey-text text-lighten-3" href="http://facebook.com/gdgvitvellore"><i class="fa fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
                  <li><a target="_blank" class="grey-text text-lighten-3" href="https://plus.google.com/+gdgvitvellore"><i class="fa fa-google-plus"></i>&nbsp;&nbsp;Google Plus</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 GDG-VIT
            <a class="grey-text text-lighten-4 right" href="http://gdgvitvellore.com"><img src="images/gdglogo.png" class="img-responsive" style="padding:10px;max-width:200px;margin-bottom: 10px!important;margin-top: -15px!important;"></a>
            </div>
          </div>
        </footer>
  </body>
  <script type="text/javascript">
    var doneOnce = false;
    var hasLab = false;
    $(".timetable-title-panel .submit-button:nth-child(1)").click(function(){
      $('.timetable-results').slideUp(400,function(){
        $(".timetable-menu-list").slideDown(400);
        $('.timetable-lab').hide();
        doneOnce = false;
      });
    });
    (function($){

    $.fn.extend({

        addTemporaryClass: function(className, duration) {
            var elements = this;
            setTimeout(function() {
                elements.removeClass(className);
            }, duration);

            return this.each(function() {
                $(this).addClass(className);
            });
        }
    });

  })(jQuery);
    $(".close").click(function(){
      $(".timetable-menu-list").slideUp(400);
      $(".timetable-title-panel").show();
      doneOnce = false;
    });
    $(document).on('click','.save-tt',function(){
      doneOnce = false;
      var count = $('.timetable-selected-subject').length;
      var slot = $(this).closest($('.custom-card')).find($('.custom-card-slot .right')).text();
      var courseCode = $(this).closest($('.custom-card')).find($('.custom-card-slot .course-code')).text().replace(slot,"");
      var faculty = $(this).closest($('.custom-card')).find($('.custom-card-front .course-faculty')).text();
      var courseTitle = $(this).closest($('.custom-card')).find($('.custom-card-front .course-title')).text();
      var credits = $(this).closest('.custom-card').attr('data-credits');
      var school = $(this).closest('.custom-card').attr('data-school');
      var courseType = $(this).closest('.custom-card').attr('data-coursetype');
      var id = $(this).closest('.custom-card').find('.course-id').val();
      var token = $('.user-token').val();
      var slotRequest = slot;
      slot = slot.toLowerCase();
      /*if(slot.charAt(0)!=='l'){
        if($('.'+slot).hasClass('selected')){
          $('.'+slot).addClass('clash');
          $('.'+slot).removeClass('.selected');
          $('.'+slot+" .number").css("color","rgb(250,77,92)");
          //$('.'+slot+" .number").html(count);
        } else{
          count++;
          $("."+slot).addClass("selected");
          $("."+slot).removeClass("unselected");
          $('.'+slot+" .number").css("color","#00e676");
          $('.'+slot+" .number").html(count);
          if(count==1)
            $('<tr class="timetable-selected-subject"><td><input class="course-id" style="display: none;" value="'+id+'">'+courseCode+'</td><td>'+courseTitle+'</td><td>'+slot.toUpperCase()+'</td><td class=""><p class="timetable-selected-faculty">'+faculty+'</p></td><td><i class="small material-icons">delete</i></td></tr>').insertAfter('.timetable-selected-headings');
          else {
            $('<tr class="timetable-selected-subject"><td><input class="course-id" style="display: none;" value="'+id+'">'+courseCode+'</td><td>'+courseTitle+'</td><td>'+slot.toUpperCase()+'</td><td class=""><p class="timetable-selected-faculty">'+faculty+'</p></td><td><i class="small material-icons">delete</i></td></tr>').insertAfter('.timetable-selected-subject:nth-child('+count+")");
          }
          $.ajax({
            url: '/v1/student/addcourse',
            headers: {
              'token': token
            },
            type: 'POST',
            data: {
              'courseId': id
            },
            success: function(response){
              if (response.status==true) {
                Materialize.toast("Course Added" , 4000);
              }
              else{
                Materialize.toast("Some Error" , 4000);
              }
            },
            error: function(){
            }
          });
        }
      }*/
       //else{
        var isClashing = false;
        slot = slot.split('+');
        for(var i in slot){
          tempSlot = slot[i];
          if($('.'+tempSlot).hasClass('selected')){
            isClashing = true;
            $("."+slot).addTemporaryClass("clash", 4000);
            Materialize.toast("Course Clashing!",4000);
            $('.'+slot).addClass('selected');
            $('.'+slot).css('color', 'white');
            $('.'+slot+" .number").css("color","#00e676");
          }
        }
        if(!isClashing){
          count++;
          for(var i in slot){
            tempSlot = slot[i];
            $("."+tempSlot).addClass("selected");
            $("."+tempSlot).removeClass("unselected");
            $('.'+tempSlot+" .number").css("color","#00e676");
            $('.'+tempSlot+" .number").html(count);
          }
          if(count==1){
            $('<tr class="timetable-selected-subject"><td><input class="course-id" style="display: none;" value="'+id+'">'+courseCode+'</td><td>'+courseTitle+'</td><td>'+slot.join('+').toUpperCase()+'</td><td class=""><p class="timetable-selected-faculty">'+faculty+'</p></td><td><i class="small material-icons">delete</i></td></tr>').insertAfter('.timetable-selected-headings');
          } else{
            $('<tr class="timetable-selected-subject"><td><input class="course-id" style="display: none;" value="'+id+'">'+courseCode+'</td><td>'+courseTitle+'</td><td>'+slot.join('+').toUpperCase()+'</td><td class=""><p class="timetable-selected-faculty">'+faculty+'</p></td><td><i class="small material-icons">delete</i></td></tr>').insertAfter('.timetable-selected-subject:nth-child('+count+")");
          }
          $.ajax({
            url: '/v1/student/addcourse',
            headers: {
              'token': token
            },
            type: 'POST',
            data: {
              'courseId': id
            },
            success: function(response){
              if(response.status==true){
                Materialize.toast("Course Added" , 4000);
              }
              else{
                Materialize.toast("Some Error" , 4000);
              }
            },
            error: function(){
              Materialize.toast("Some Error" , 4000);
            }
          });
        } else{
          for(var i in slot){
            tempSlot = slot[i];
            $("."+tempSlot).removeClass("unselected");
            $("."+tempSlot).addTemporaryClass("clash", 4000);
            Materialize.toast("Course Clashing!",4000);
            $("."+tempSlot).addClass("unselected");
            $('.'+tempSlot).css('color', 'white');
            $('.'+tempSlot+" .number").css("color","rgb(250,77,92)");
            //$('.'+tempSlot+" .number").html(count);
          }
        }
      //}
    });
    $(document).on('click', '.timetable-selected-subject .material-icons',function(){
      var slot = $(this).closest($('.timetable-selected-subject')).find($('.timetable-selected-subject td:nth-child(3)')).text();
      slot = slot.split('+');
      var id = $(this).closest($('.timetable-selected-subject')).find($('.course-id')).val();
      var token = $('.user-token').val();
      $.ajax({
        url: '/v1/student/deletecourse/',
        headers: {
          'token': token
        },
        type: 'POST',
        data: {
          'courseId': id
        },
        success: function(response){
          if (response.status == true) {Materialize.toast("Course Deleted!" , 40000);}
          else{
            Materialize.toast("Some Error Found" , 40000);
          }

        },
        error: function(){
          Materialize.toast("Some Error Found" , 40000);
        }
      });
      for(var i in slot){
        var tempSlot = slot[i].replace(' ','').toLowerCase();
        $('.'+tempSlot).addClass('unselected').removeClass('selected').removeClass('clash');
        $('.'+tempSlot+' .number').html("");
      }
      $(this).closest($('.timetable-selected-subject')).remove();
      count--;
      var index=1;
      var current = $('.timetable-selected-subject');
      for(var i=1;i<=$('.timetable-selected-subject').length;i++){
        $(current).find($('td:nth-child(1)')).html(index);
        var slot = $(current).find($('td:nth-child(4)')).html();
        if(slot.charAt(0)=='l'){
          slot = slot.split('+');
          for(var j=0;j<slot.length;j++){
            var tempSlot = slot[j];
            tempSlot = tempSlot.toLowerCase();
            $('.'+tempSlot+' .number').html(index);
          }
        }
        else{
          slot = slot.toLowerCase();
          $('.'+slot+' .number').html(index);
        }
        current = current.next($('.timetable-selected-subject'));
        index++;
      }
    });
    $(document).on('click','.custom-card-edit img:nth-child(2)',function(){
      $(this).closest($('.custom-card')).remove();
    });
    $(document).on('click','.timetable-results .close',function(){
      $('.timetable-results').slideUp(400);
    });
    $(document).ready(function(){
      $('.course-list-1').select2();
      $('.faculty-list-1').select2();
      $('.slot-list-1').select2();
      /*$('.timetable-results').slick({
        dots: false,
        infinite: true,
        speed: 300,
        slidesToShow: 3,
        slidesToScroll: 3,
        responsive: [
          {
            breakpoint: 600,
            settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            prevArrow: false,
            nextArrow: false,
            infinite: true
          }
        }
        ]
      });*/
      $.ajax({
        url: '/detail',
        headers: {
          'token': $('.user-token').val()
        },
        type: 'GET',
        success: function(response){
          $('.timetable-selected-subject').remove();
          var count = 1;
          for(var i in response.data.newAllotedCourse){
            var id = response.data.newAllotedCourse[i]._id;
            var courseTitle = response.data.newAllotedCourse[i].courseName;
            var faculty = response.data.newAllotedCourse[i].faculty;
            var slot = response.data.newAllotedCourse[i].slots;
            var credits = response.data.newAllotedCourse[i].credits;
            var courseCode = response.data.newAllotedCourse[i].courseCode;
            if (response.status==true){
              $('.timetable-selected-table').append('<tr class="timetable-selected-subject"><td><input class="course-id" style="display: none;" value="'+id+'">'+courseCode+'</td><td>'+courseTitle+'</td><td>'+slot+'</td><td class=""><p class="timetable-selected-faculty">'+faculty+'</p></td><td><i class="small material-icons">delete</i></td></tr>');
            }


            //if(slot.charAt(0)=='L'){
              slot = slot.toLowerCase();
              slot = slot.split('+');
              for(var j in slot){
                tempSlot = slot[j];
                $("."+tempSlot).addClass("selected");
                $("."+tempSlot).removeClass("unselected");
                $('.'+tempSlot+" .number").css("color","#00e676");
                $('.'+tempSlot+" .number").html(count);
              }
            /*}else{
              slot = slot.toLowerCase();
              $("."+slot).addClass("selected");
              $("."+slot).removeClass("unselected");
              $('.'+slot+" .number").css("color","#00e676");
              $('.'+slot+" .number").html(count);
            }*/
            count++;
          }
        },
        error: function(){
          Materialize.toast("Some Error Found" , 4000);
        }
      })
    });
    $('.slot-list-1').prop('disabled', 'disabled');
   /* $(".course-list-1").change(function(){
      if(!doneOnce){
        var search = $('.course-list-1').select2('data')[0]['text'];

        $.ajax({
          url: '/v1/course/getbycoursecode/?q='+search,
          datatype: 'json',
          type: 'GET',
          success: function(response){
             $('.slot-list-1').prop('disabled', false);
            $('.slot-list-1').empty();
            $('.slot-list-1').append('<option></option>');
            $('.slot-list-1').append('<option value="'+response.data[i].slots+'">'+response.data[i].slots+'</option>')
            console.log(response.data[0]);
            for(var i in response.data){

              $('.slot-list-1').append('<option value="'+response.data[i]+'">'+response.data[i]+'</option>');
              console.log(response.data[i]);
            }
          },
          error: function(){
            //alert('Ajax failure');
          }
        });
        doneOnce = true;
      }
    });*/
    /*$(document).on('change','.faculty-list-1',function(){
      if(!doneOnce){
        /*var search = $('.faculty-list-1').select2('data')[0]['text'];
        var search1 = $('.course-list-1').select2('data')[0]['text'];
        var search   = $('.slot-list-1').select2('data')[0]['text'];
        search = search.replace('+','%20');
        $.ajax({
          url: '/v1/course/getCourse/?courseCode='+search1+'&slots='+search,
          datatype: 'json',
          type: 'GET',
          success: function(response){
            $('.course-list-1').empty();
            $('.course-list-1').append('<option></option>');
            $('.slot-list-1').empty();
            $('.slot-list-1').append('<option></option>');
            for(var i in response.data){
              var courseCode = response.data[i].courseCode.split('-').join('');
              var courseTitle = response.data[i].name;
              var course = courseCode+'-'+courseTitle;
              $('.course-list-1').append('<option value="'+courseCode+'">'+course+'</option>');
              $('.slot-list-1').append('<option value="'+response.data[i].slots+'">'+response.data[i].slots+'</option>');
            }
          },
          error: function(){
            //alert('Ajax failure');
          }
        });
        doneOnce = true;
      }
    });*/
    $(document).on('change','.course-list-1',function(){
      //if(!doneOnce){
        var search = $('.course-list-1').select2('data')[0]['text'];
        /*var search = $('.slot-list-1').select2('data')[0]['text'];*/
        $.ajax({
          url: '/v1/course/getslot/?q='+search,
          datatype: 'json',
          type: 'GET',
          success: function(response){
            /*$('.course-list-1').empty();
            $('.course-list-1').append('<option></option>');*/
            $('.slot-list-1').prop('disabled', false);
            $('.slot-list-1').empty();
            $('.slot-list-1').append('<option></option>');
            /*$('.slot-list-1').append('<option value="'+response.data[i].slots+'">'+response.data[i].slots+'</option>')*/
            console.log(response.data[0]);
            for(var i in response.data){
              $('.slot-list-1').append('<option value="'+response.data[i]+'">'+response.data[i]+'</option>');
              console.log(response.data[i]);
            }
          },
          error: function(){
            Materialize.toast("Some Error Found" , 4000);
          }
        });
        doneOnce = true;
      //}
    });
    $(document).on('click','.timetable-menu-list .submit-button',function(){
      /*if(!doneOnce)
        return;*/
       var search1 = $('.course-list-1').select2('data')[0]['text'];
        var search   = $('.slot-list-1').select2('data')[0]['text'];
       search = search.replace(/\+/g,"%2B");
      $.ajax({
        url: '/v1/course/getcourse/?courseCode='+search1+'&slots='+search,
        type: 'GET',
        datatype: 'json',
        success: function(response){
          $('.timetable-results').empty();
          $('.timetable-results').slideDown(400);
          $('.timetable-menu-list').hide();/*
          console.log(response.data[0].faculty);*/
          for(var i in response.data){

            var courseTitle = response.data[i].courseName;
            var courseCode = response.data[i].courseCode;
            var slot = response.data[i].slots;
            var credits = response.data[i].credits;
            var faculty = response.data[i].faculty;
            //var courseType = response.data[i].type;
            //var school = response.data[i].school;
            var id = response.data[i]._id;
            $('.timetable-results').append('<div class="custom-card z-depth-1 col m3 push-m1 l3 push-l1" ><div class="custom-card-header"><div class="custom-card-front"><input class="course-id" type="text" style="display:none" value="'+id+'"><h5 class="course-title">'+courseTitle+'</h5><p class="course-faculty">'+faculty+'</p></div><div class="custom-card-edit" style="display:none"><img src="images/add.png" class="save-tt" style="padding-left: 15%;padding-top: 5%;padding-bottom: 5%" class="left" /><img src="images/delete.png" style="padding-right: 15%;padding-top: 5%;padding-bottom: 5%" class="right" /></div></div><div class="custom-card-slot row valign-wrapper"><div class="col s10 m10 l10"  style="border-right: 1px solid;border-color: rgb(123,123,123)"><p class="course-code">'+courseCode+'<span class="right">'+slot+'</span></p></div><div class="col s2 m2 l2 valign custom-card-action front" style="padding: 1%;text-align: center;font-size: 20px;"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></div></div></div>');
          }
        },
        error: function(){
          Materialize.toast("Some Error Found" , 4000);
          //alert('Ajax Error');
        }
      });
    });
    /*$(document).on('click','.timetable-title-panel .submit-button',function(){
      $.ajax({
        url: 'course/getalldata/',
        type: 'GET',
        datatype: 'json',
        success: function(response){
          $('.course-list-1').empty();
          $('.course-list-1').append('<option></option>');
          $('.faculty-list-1').empty();
          $('.faculty-list-1').append('<option></option>');
          $('.slot-list-1').empty();
          $('.slot-list-1').append('<option></option>');
          for(var i in response.data){
            var courseTitle = response.data[i].name;
            var courseCode = response.data[i].courseCode;
            var faculty = response.data[i].faculty;
            courseCode = courseCode.replace('-','');
            var course = courseCode+'-'+courseTitle;
            $('.course-list-1').append('<option value="'+courseCode+'">'+course+'</option>');
            $('.faculty-list-1').append('<option value="'+faculty+'">'+faculty+'</option>');
            $('.slot-list-1').append('<option value="'+response.data[i].slots+'">'+response.data[i].slots+'</option>')
          }
        },
        error: function(){
          $.ajax(this);
        }
      });
    });*/
  </script>
</html>
