body{
  font-size: 18px;
  background: #eee;
  font-family: 'Lato';
  overflow-x: hidden;
}
select span{
  min-width: 200px !important;
}
@media(min-width: 1000px){

.select2-container--default
{
  min-width: 180px;
}
}
@media(max-width: 750px)
{
.select2-container--default{
  width: auto !important
}
}
.login-holder{
  font-family: 'Lato';
  width: 75%;
  padding: 5%;

}
.login-holder h4{
  font-size: 30px;
  text-align: center;
}
.login-holder form{
  padding: 10%;
}
.login-holder button{
  padding: 0px;
  width: 100%!important;
  background-color: rgb(0,230,118);
  padding: 2%;
  border: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
  font-weight: bold;
}
.login-holder button:focus{
  border: none;
  padding: 2%;
}
.login-holder button:active{
  padding: 0px;
  background-color: rgb(0,233,143);
  padding: 2%;
  border: none;
}
.submit-button{
  width: 40%!important;
  background-color: rgb(0,233,143);
  padding: 2%;
  border: none;
  color: white;
}
.submit-button:focus{
  border: none;
  padding: 2%;
}
.submit-button:active{
  border: none;
}
.login-header{
  font-family: 'Lato';
  font-size: 20px;
  text-align: center;
}
.register-header{
  font-family: 'Lato';
  font-size: 20px;
  text-align: center;
}
/*Styling For Mobile Devices*/
@media screen and (max-width:600px){
  body
  {
    font-size: 20px;
  }
  .login-holder
  {
    width: 100%;
    padding-right: 0px!important;
    padding: 0%;
    margin-left: -35%;
  }
  .login-holder h4
  {
    font-size: 30px!important;
    text-align: center;
    position: relative;
    left: 20vw;
  }
  .login-holder .card{
    height: 100vw;
    width: 100vw;
  }
  .login-holder .login-form{
    padding: 0px;
    font-size: 8px;
  }
  .login-holder .login-form label{
    font-size: 11px;
  }
  .login-holder .register-form{
    padding: 0px;
    margin-left: -8px;
    padding-left: 12px;
    font-size: 8px;
  }
  .login-holder .register-form label{
    font-size: 10px;
    font-weight: 400;
  }
  .login-holder .active{
    font-size: 12px;
  }
  .login-holder button
  {
    width: 100%;
    background-color: rgb(0,233,143);
    text-align: center;
    padding: 2%;
    font-size: 20px;
    border: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    /*margin-left: -15.6%;*/
    color: white;
    font-weight: bold;
    /*margin-top: 8%;*/
  }
  .login-holder button:focus
  {
    border: none;
    padding: 2%;
  }
  .login-holder button:active{
    padding: 0px;
    background-color: rgb(0,233,143);
    padding: 2%;
    border: none;
  }
  .timetable-title-panel{
    /*width: 100vw;*/
  }
  .timetable-title-panel h4{
    font-size: 25px!important;
  }
  .timetable-title-panel .submit-button{
    margin-left: -1%!important;
    font-size: 12px;
    width: 50%!important;
    max-width: 80px!important;
  }
  .timetable-title-panel .submit-button-logout{
    margin-left: -0px;
    max-width: 80px;
    margin-bottom: 3px;
    padding: 1%;
    font-size: 12px!important;
  }
  .timetable-menu-list .fa-times{
    font-size: 25px!important;
  }
  .timetable-menu-list .submit-button{
    position: relative;
    top: -30px!important;
    left: -18%!important;
    min-width: 200px;
  }
  .timetable-results{
    height: 50vw;
    overflow-x: scroll;
    width: 100vw;
  }
  .timetable-results .custom-card{
    margin-top: 2%;
    margin-left: 5%;
    padding: 1%;
    width: 270px;
  }
  .timetable-results .custom-card-edit{
    width: 250%!important;
    padding: 0%!important;
  }
  .timetable-results .custom-card-edit .save-tt{
    padding: 0%!important;
    padding-left: 5%!important;
    padding-top: 2%!important;
    padding-bottom: 2%!important;
  }
  .timetable-results .custom-card-edit img:nth-child(2){
    padding-right: 5%!important;
    padding-top: 2%!important;
    padding-bottom: 2%!important;
    position: relative;
    left: -60%;
  }
  .timetable-results .custom-card-slot{
    padding: 1%;
    width: 102%!important;
    position: relative;
    left: -3px!important;
    height: 35px!important;
  }
  .timetable-results .custom-card-action{
    padding: 1%!important;
  }
  .timetable-results .custom-card:nth-child(1){
    margin-top: 0%;
  }
  .timetable-results .close{
    font-size: 2px!important;
  }
  .timetable{
    font-size: 10px!important;
    overflow-x: scroll;
  }
  .save-timetable .submit-button{
    font-size: 12px;
    padding: 1%!important;
    position: relative!important;
    left: 50%!important;
    min-width: 20%!important;
  }
  .timetable-selected-list{
    padding: 0%!important;
    font-size: 8px!important;
    width: 90%!important;
    position: relative;
    left: -10px;
  }
  .timetable-selected-table{
    padding: 0%!important;
    margin-left: 0%!important;
  }
  .timetable-selected-table table{
    min-width: 80%!important;
  }
  .timetable-selected-table td{
    font-size: 8px!important;
  }
  .timetable-selected-headings td:nth-child(6){
    padding: 0%!important;
    width: 10%!important;
  }
  .timetable-selected-headings td:nth-child(4),.timetable-selected-headings td:nth-child(5){
    padding: 8%!important;
    margin: 0px!important;
    text-align: center!important;
  }
  .timetable-selected-table .sub-text{
    font-size: 6px!important;
    font-weight: 200;
  }
  .timetable-selected-table .sub-text-inside{
    font-size: 6px!important;
    color: #666;
  }
  .timetable-selected-table .material-icons{
    font-size: 10px;
  }
  .timetable-selected-subject td:nth-child(1){
    padding: 3%!important;
    font-size: 9px!important;
  }
}
/*Styling for Tabs and Medium devices*/
@media screen and (min-width:601px) and (max-width:1024px){
  body{
    overflow-x: hidden;
  }
  .login-holder{
    width: 100%;
    position: absolute;
    right: 13vw;
  }
  .timetable-title-panel{
    width: 100vw!important;
  }
  .timetable-title-panel .submit-button{
    font-size: 12px;
    margin-left: -10%;
    height: 35px;
    padding: 0%!important;
  }
  .timetable-title-panel .submit-button-logout{
    margin-top: 1%!important;
    padding-top: 0px!important;
    padding-bottom: 3%!important;
  }
  .timetable-menu-list .submit-button{
    margin-top: 1%!important;
    width: 30%!important;
    margin-left: -0.1%!important;
  }
  .timetable-results{
    overflow-x: scroll!important;
  }
  .timetable-results .custom-card:nth-child(1){
    margin-left: -8%!important;
  }
  .timetable-results .custom-card{
    width: 30%!important;
  }
  .timetable-results .custom-card-slot{
    padding: 2%;
    width: 110%!important;
    position: relative;
    left: -10px!important;
    height: 35px!important;
  }
  .timetable{
    overflow-x: scroll;
  }
  .save-timetable .submit-button{
    position: relative!important;
    left: 50%!important;
  }
  .timetable-selected-list{
  }
  .timetable-selected-table{
    font-size: 13px!important;
  }
  .timetable-selected-table .sub-text{
    font-size: 12px;
  }
  .timetable-selected-table .sub-text-inside{
    font-size: 12px!important;
  }
}

/*Timetable page styles*/
.timetable-title-panel{
  color: white;
  text-align: left;
  background-color: rgb(73,97,109);
  font-size: 18px;
  /*position: fixed;*/
}
.valign-wrapper{
  padding: 0px;
  margin: 0px;
}
.timetable-title-panel{
  width: 100vw;
}
.timetable-title-panel a{
  text-decoration: none;
  color: white;
}
.timetable-title-panel h4{
  font-size: 25px;
  padding: 1%;
}
.timetable-title-panel .submit-button{
  width: 50%;
  background: rgb(0,233,143);
  margin-top: 10px;
}
.timetable-title-panel .submit-button:focus{
  width: 50%;
  background: rgb(0,233,143);
}
.timetable-title-panel .submit-button:active{
  width: 50%;
  background: rgb(0,233,143);
}
.timetable-title-panel .submit-button{
  width: 50%;
  border: none;
  padding: 1%;
  background: rgb(0,233,143);
}
.timetable-menu-list{
  width:100%;
  background: rgb(73,97,109);
  width: 100%;
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 2%;
  padding-top: 0.75%;
  position: absolute;
}
.timetable-menu-list .course-list-1{
  width: 30%;
}
/*.timetable-menu-list .slot-list-1{
  width: 15%;
  margin-left: 10px;
}*/
.timetable-menu-list .faculty-list-1{
  width: 30%;
  margin-left: 10px;
}
.timetable-menu-list .submit-button{
  background: rgb(0,233,143);
  width: 20%!important;
  max-height: 60px !important;
  margin-left: 18%;
  margin-top: 12%;
  padding: 1%;
}
.timetable-menu-list .close{
  float: right;
  clear: both;
  margin-top: 0px;
  margin-bottom: 2%;
  padding: 0%;
}
.select2-search input{
  outline: none!important;
  border: none;
  height: 70%;
  font-size: 15px;
  width: 100%;
  background-color: rgb(127,144,153);
  color: rgb(215,220,219);
}
.select2-container{
  font-size: 14px;
  font-weight: 200%;
}

.select2-container .select2-choice .select2-chosen{
  background-color: rgb(127,144,153);
}
#select2-course-list-container,#select2-slot-list-container,#select2-faculty-list-container{
  background-color: rgb(127,144,153);
  color: rgb(215,220,219);
  font-size: 18px;
}
.select2-search,.select2-search--dropdown{
  background-color: rgb(127,144,153);
}
.select2-container--default .select2-results{
  background: grey;
  color: rgb(215,220,219);
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: rgb(127,144,153);
}

.timetable-results{
  background: rgb(96,125,139);
  padding: 3%;
  font-size: 15px;
  margin-top: 0px;
  overflow-x: scroll;
}
.timetable-results .custom-card-edit .save-tt{
  padding-left: 15%;
  padding-top: 5%;
  padding-bottom: 5%
}
.timetable-results .custom-card-edit img:nth-child(2){
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.timetable-results .custom-card h5{
  font-size: 18px;
  font-weight: 500;
}
.timetable-results .custom-card{
  background: white;
  font-size: 15px;
  border-radius: 2px;
  margin-right: 5%;
}
.timetable-results .custom-card-slot{
  height: 10%;
  padding: 0px;
  color: rgb(123,123,123);
  margin: 0px;
  padding: 0px;
  position: relative;
  left: -3.8%;
  width: 107.5%;
  font-size: 15px;
  font-weight: 400;
  border-top: 1px solid;
  border-color: rgb(123,123,123);
  background-color: rgb(233,233,233);
}
.timetable-results .front:hover{
  cursor: pointer;
}
.timetable-results .edit:hover{
  cursor: pointer;
}
.timetable-results .custom-card-action-active:hover{
  cursor: pointer;
}
.timetable{
  color: white;
  font-size: 18px;
  padding: 2%;
  margin-left: 0;
}
.timetable .timetable-timing{
  background-color: #8faec2;
  padding: 1.5%;
  background: rgb(220,225,227);
  color: rgb(153,153,153);
  font-weight: 400;
}
.timetable .timetable-header{
  border: 1px solid rgba(128,128,128,0.2);
  background: rgb(220,225,227);
  padding: 2%;
  background: rgb(220,225,227);
  color: rgb(153,153,153);
  font-weight: 400;
}
.timetable td{
  border: 1px solid;
  border-color: rgba(128,128,128,0.2);
  text-align: center;
}
.timetable .unselected{
  background: white;
  color: rgb(153,153,153);
}
.timetable-seminar{
  padding: 2%;
  color: #555;
  text-align: center;
}
.timetable .selected{
  background: #00e676;
}
.timetable .clash{
  background: rgb(250,77,92);
  color: white;
}
.timetable{
  padding: 2.5%;
  font-size: 0.8em;
}
.timetable .number{
  font-family: 'Montserrat';
  position: relative;
  top: -10px;
  right: -2px;
  text-align: center;
  border-radius: 100%;
  background: white;
}
.number{
  width: 10px;
  line-height: 0.5px;
  padding: 7.5%;
  font-size: 0.7em;
}
.save-timetable .submit-button{
  padding: 1%;
  width: 10%!important;
  margin-top: -2%!important;
}

.save-timetable .submit-button:focus{
  background: rgb(0,233,143);
}
.save-timetable .submit-button:active{
  background: rgb(0,233,143);
}

.timetable-selected-list{
  margin: 6%!important;
  border-radius: 2px;
}
.timetable-selected-list .timetable-selected-table .timetable-selected-headings{
  background-color: rgb(73,97,109);
  color: white;
}
.timetable-selected-table{
  font-family: 'Montserrat';
}
.sub-text{
  font-weight: 200;
  font-size: 15px;
}
.sub-text-inside{
  font-weight: 300;
  font-size: 15px;
  color: #666;
}
.timetable-selected-list table{
  border-radius: 5px;
}
.timetable-selected-list td{
  border-radius: 0px;
}
.timetable-selected-subject td:nth-child(1){
  padding: 2%;
}
.timetable-selected-subject{
  background: white;
}
/*.timetable-selected-faculty{
  border-right: 1px solid grey;
}*/
.timetable-selected-subject{
  background: white;
}
.timetable-selected-subject:hover{
  background: rgb(0,233,143);
  transition: 0.3s;
}
.timetable-selected-subject:after{
  background: white;
  transition: 0.3s;
}
.material-icons:hover{
  cursor: pointer;
  margin: 0px!important;
  padding: 0px!important;
}
.submit-button{
  border: 0.5px solid rgba(0,233,143,0.9)!important;
}
.submit-button-logout{
  width: 50%!important;
  font: 'Montserrat';
  padding: 1%!important;
  margin-top: 2%!important;
  font-weight: 500!important;
  padding-bottom: 1.5%!important;
  font-size: 20px!important;
  background: rgb(97,125,139);
  border: none;
  padding: 1%;
}
.submit-button-logout:focus{
  background: rgb(97,125,139);
  border: none;
}
.submit-button-logout:active{
  background: rgb(97,125,139);
  border: none;
}
.select2-selection__placeholder{
  color: rgb(215,220,219)!important;
}
label[data-error]:after {
    white-space: nowrap;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.timetable-menu-list{
  z-index: 100!important;
}
.timetable-results .close{
  float: right;
  clear: both;
  font-size: 50px;
  margin-top: -3.5%;
}
.timetable-results .fa-times{
  font-size: 35px!important;
}
footer{
  background: #607d8b !important;
  color: #f2f2f2 !important;
}
.timetable-menu-list input{
  color: white!important;
}
@media(max-width: 700px){
  .input-field label{
    font-size: 9px !important;
  }
}
.input-field{
  margin: 0 auto;
}
label{
  color: #fff !important;
}
.login-form label{
  color: #333 !important;
}
.register-form label{
  color: #333 !important;
}
[type="checkbox"].filled-in:not(:checked)+label:after {

    border: 2px solid #fff !important;

}
